.counter {
  width: calc(100% / 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  border-right: 1px solid #ECECEC;

  &__button {
    border: none;
    background-color: transparent;
    font-size: 42px;
    height: 100%;
    
    @include center;
  }

  &__txt {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
}