.cleaningBlock {
  background-color: $white;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $black;
  @include center;
  text-align: center;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 100% !important;
    margin-left: 0 !important;
    transform: translateY(0px) !important;
 }

  &__additional {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
}