.header {
  padding: 10px 0;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__blockLogo {
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
  }

  &__navbar {
      @media (max-width: 2010px) {
    order: 2;
    justify-self: center;
  }
  }

  &__select {
    border: none;
    width: 85px;
    color: $black;
    font-weight: 600;

    &--city {
      width: 130px;
    }
  }

  &__selectWrapper {
  @media (max-width: 768px) {
     display: none;
  }
  }

  &__contacts {
    width: 330px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $red;

    @media (max-width: 1200px) {
     display: none;
  }
  }

  &__contactLink {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: $white;
    text-decoration: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__linktxt {
    display: block;
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
      display: none;
   }
  }

  &__partners {
    @include center;
    width: 180px;
    height: 60px;
    background: $greenBlue;
    border-radius: 4px;
    color: $white;

    &:active {
      background: $greenBlue;
    }
  }

  &__partnersIcon {
    margin-right: 5px;
  }

  &__user {
    width: 60px;
    height: 60px;
    background: #ECECEC;
    border-radius: 4px;
  }
}