@import './Room.scss';

.offers {
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;

    @media (max-width: 768px) {
      flex-wrap: wrap;
   }
  }

  &__button {
    width: 25%;
    border: none;
    background: #FAFAFA;
    width: 350px;
    height: 80px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $black;

    @media (max-width: 768px) {
      justify-content: space-between;
      width: 100%;
   }
    
    @include center;
    gap: 18px;

    &:hover {
      background-color: #cecece;
      color: $black;
    }

    &--active {
      background: $red;
      color: $white;

      &:hover {
        background: $red;
        color: $white;
      }
    }
  }

  &__discount {
    width: 76px;
    height: 43px;
    background: $yellow;
    border-radius: 4px;
    color: $black;
    @include center;

    &--dnon {
      display: none;
    }
  }

  &__rooms {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
   }
  }
}